
    <div class="widget yellow-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-thumbs-up fa-4x"></i>
            <h1 class="m-xs">520</h1>
            <h3 class="font-bold no-margins">
                Likes
            </h3>
            <small>amount</small>
        </div>
    </div>
    <div class="widget yellow-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-warning fa-4x"></i>
            <h1 class="m-xs">Alarm</h1>
            <h3 class="font-bold no-margins">
                Do
            </h3>
            <small>something</small>
        </div>
    </div>