
    <div class="widget navy-bg no-padding">
        <div class="p-m">
            <h1 class="m-xs">$ 1,540</h1>

            <h3 class="font-bold no-margins">
                Annual income
            </h3>
            <small>Income form project Alpha.</small>
        </div>
        <div class="flot-chart">
            <div class="flot-chart-content" id="flot-chart1" style="padding: 0px; position: relative;"><canvas class="flot-base" width="1144" height="200" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 572px; height: 100px;"></canvas><canvas class="flot-overlay" width="1144" height="200" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 572px; height: 100px;"></canvas></div>
        </div>
    </div>