   <div class="widget yellw-bg no-padding">
        <div class="p-m">
            <h1 class="m-xs">$ 50,992</h1>

            <h3 class="font-bold no-margins">
                Half-year revenue margin
            </h3>
            <small>Sales marketing.</small>
        </div>
        <div class="flot-chart">
            <div class="flot-chart-content" id="flot-chart3" style="padding: 0px; position: relative;"><canvas class="flot-base" width="542" height="200" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 271px; height: 100px;"></canvas><canvas class="flot-overlay" width="542" height="200" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 271px; height: 100px;"></canvas></div>
        </div>
    </div>
