
    <div class="ibox-content">
        <h2>TODO List</h2>
        <small>This is example of task list</small>
        <ul class="todo-list m-t ui-sortable">
            <li>
                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" value="" name="" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                <span class="m-l-xs">Buy a milk</span>
                <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
            </li>
            <li>
                <div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" value="" name="" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                <span class="m-l-xs">Go to shop and find some products.</span>
                <small class="label label-info"><i class="fa fa-clock-o"></i> 3 mins</small>
            </li>
            <li>
                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" value="" name="" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                <span class="m-l-xs">Send documents to Mike</span>
                <small class="label label-warning"><i class="fa fa-clock-o"></i> 2 mins</small>
            </li>
            <li>
                <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" value="" name="" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
                <span class="m-l-xs">Go to the doctor dr Smith</span>
                <small class="label label-danger"><i class="fa fa-clock-o"></i> 42 mins</small>
            </li>
        </ul>
    </div>