    <div>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-danger m-r-sm">12</button>
                    Total messages
                </td>
                <td>
                    <button type="button" class="btn btn-primary m-r-sm">28</button>
                    Posts
                </td>
                <td>
                    <button type="button" class="btn btn-info m-r-sm">15</button>
                    Comments
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-info m-r-sm">20</button>
                    News
                </td>
                <td>
                    <button type="button" class="btn btn-success m-r-sm">40</button>
                    Likes
                </td>
                <td>
                    <button type="button" class="btn btn-danger m-r-sm">30</button>
                    Notifications
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-warning m-r-sm">20</button>
                    Albums
                </td>
                <td>
                    <button type="button" class="btn btn-default m-r-sm">40</button>
                    Groups
                </td>
                <td>
                    <button type="button" class="btn btn-warning m-r-sm">30</button>
                    Permissions
                </td>
            </tr>
            </tbody>
        </table>
    </div>