<div class="pull-left">
					<h5>Bill <small></small>&nbsp;&nbsp;</h5>
					<small ng-class="{'todo-completed':model.deleted == 1}"  data-toggle="modal" data-target="#myModelBillNo" class="  m-r-s"><i class="fa fa-clock-o"></i>  No: {{model.Bill_No}}</small>
					<small ng-class="{'todo-completed':model.deleted == 1}"  data-toggle="modal" data-target="#myModelBillNo" class="  m-r-s"><i class="fa fa-calendar-o"></i> Date: {{model.Date}}</small>
				</div>

						<!--div class="ibox-tools">
			<button class="btn btn-outline btn-danger no-margins-bottom dim" ng-class="{'btn-outline':!btnCCOn}"  ng-click="btnCCOn = !btnCCOn; OpenAllPanel = true;" type="button"><i class="fa fa-cc-visa"></i></button>
			<button class="btn  btn-outline btn-primary no-margins-bottom dim " ng-class="{'btn-outline':!btnCustOn}"  ng-click="btnCustOn = !btnCustOn; OpenAllPanel = true;" type="button"><i class="fa fa-users"></i></button>
			<button class="btn  btn-outline btn-info no-margins-bottom dim " ng-class="{'btn-outline':!btnFOCOn}"   ng-click="btnFOCOn = !btnFOCOn; OpenAllPanel = true;takehim('FOCCoupon');" type="button"><i class="fa fa-foursquare "></i></button>
			<button class="btn  btn-outline btn-warning no-margins-bottom dim " ng-class="{'btn-outline':!btnDisOn}" ng-click="btnDisOn = !btnDisOn; OpenAllPanel = true;takehim('DisCoupon');" type="button"><i class="fa fa-sort-numeric-desc"></i></button>
			</div!-->   