<div class="col-sm-6 pull-left">
			<button  ng-click="Save()" data-toggle="modal"  class="btn btn-info btn-outline dim btn-small-dim " type="button">
				<i class="fa fa-save"></i>
			</button>
			<button data-toggle="modal" data-target="#myModalPrint" class="btn btn-success btn-outline dim btn-small-dim" type="button">
				<i class="fa fa-print"></i>
			</button>
		</div>
		<div class=" pull-right">
			<button ng-click="New()" class="btn btn-outline btn-success dim btn-small-dim"><i class="fa fa-plus"></i> </button>
			<button ng-click="Delete()"  class="btn  btn-outline btn-danger dim btn-small-dim"><i class="fa fa-trash"></i> </button>
	    	<button  data-toggle="modal" data-target="#myModelBillNo"  class="btn  btn-outline btn-info dim btn-small-dim"><i class="fa fa-search"></i> </button>
		</div>